<h1>Courses</h1>
<ul>
  <% courses.each do |course| %>
    <li><%= link_to(course.title, course_decks_path(course.course_uuid)) %></li>
  <% end %>
</ul>

<%= link_to('Create new course', new_course_path) %>
