<h1>Course: <%= course.title %> </h1>
<ul>
  <% decks.each do |deck| %>
    <li><%= link_to(deck.title, cards_deck_path(deck.deck_uuid)) %></li>
  <% end %>
</ul>

<%= link_to('Create new deck', new_course_deck_path(course.course_uuid)) %>
<%= link_to('Back', courses_path) %>
